

<p-card header="Acessar">
  <div>
    <label for="firstname1">Login</label>
    <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  </div>
  <div class="field">
    <label for="lastname1">Senha</label>
    <input id="lastname1" type="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  </div>

  <p-button label="Entrar"></p-button>
</p-card>
